<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/detail_info.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <title>공알이</title>
</head>

<body>
  <div class='main_container'>
    <div class='header'>
      <button class='back_button_design' onclick="location.href=location.origin + '/search/keyword'"> </button>조회 결과
      <button class='resv_button' onclick='make_reservation();'>예약하기</button>
    </div>
    <div class='info_design' id='info_detail'></div>
  </div>
  <script src="/javascripts/detail_info.js"></script>
</body>

</html>