<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공알이</title>
    <link rel="stylesheet" href="../public/stylesheets/common.css">
</head>
<body>
    <p>testtestsetsetsetsetsetsestsetset</p>
    <p>testtestsetsetsetsetsetsestsetset</p>
    <p>testtestsetsetsetsetsetsestsetset</p>
    <p>testtestsetsetsetsetsetsestsetset</p>
    <p>testtestsetsetsetsetsetsestsetset</p>
    <input type='button' value='input_btn' onclick="test_alert();">
    <button type="button">button_btn</button>

    <script src='../public/javascripts/common.js'></script>
</body>
</html>