<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/common.css">
  <link rel="stylesheet" href="stylesheets/main_menu_button.css">
  <title>공알이</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {
      packages: ["corechart"]
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Menu');
      data.addColumn('number', 'Amount given');
      data.addRows([
        ['개인정보수정', 1],
        ['공공시설조회', 1],
        ['예약내역', 1]
      ]);

      var options = {
        pieHole: 0.3,
        legend: 'none',
        pieStartAngle: 100,
        pieSliceText: 'label',
        tooltip: { trigger:'none'
        },
        backgroundColor: 'none',
        chartArea: {
          width: '90%',
          height: '90%'
        },
        colors: ['grey', 'red', 'black'],
        fontSize:15,
        fontName:'Jeju Gothic'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      google.visualization.events.addListener(chart, 'select', selectHandler);

      function selectHandler() {
        selection = chart.getSelection();
        switch (selection[0].row) {
          case 0: // 개인정보수정 부분
            location.href = location.origin + '/info';
            break;
          case 1: // 공공시설예약 부분
            location.href = location.origin + '/search';
            break;
          case 2: // 예약내역 부분
            location.href = location.origin + '/reservation/list';
            break;
        }
      }

      chart.draw(data, options);
    }
  </script>
</head>

<body>
  <div class='main_container'>
    <img src="/images/logo.png" alt="gongali_logo.png" style='margin:10% auto 5% auto;' id='logo'>
    <p id='username'>
      <span style="color:brown; font-weight:700; font-size:14px;">
        <%-username%>
      </span>님, 안녕하세요.</p>
    <div id="piechart" style="width: 360px; height: 400px;"></div>
    <a href="/logout" style="top: 92%; position: absolute; text-decoration: none;">
      <img src="images/logout_button.png" id="btn_logout">
    </a>
  </div>

</body>

</html>