<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/common.css">
  <link rel="stylesheet" href="stylesheets/header.css">
  <title>공알이</title>
</head>

<body>
  <div class='main_container'>
        <div class='header'>
          <button class='back_button_design' onclick="location.href=location.origin + '/main'"></button>
          공공시설 조회          
          <div id="search_img"></div>
          <div id="search_tb"><input type="text" name="search" placeholder="내용을 입력해주세요."></div>
        </div>
        <br><br><br>공공시설 예약내역

    
      
  </div>

  <script src="javascripts/jquery-3.2.1.js"></script>
  <script>
  jQuery(document).ready(function(){
      jQuery("#search_img").click(function(){
      jQuery("#search_tb").animate({width:'toggle'},"1000");
      });
      });
  </script>
</body>

</html>