<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공알이</title>
    <link rel="stylesheet" href="/stylesheets/reservation.css">
    <script>
            window.onload = function () {
                var selectedDate =  sessionStorage.getItem('selectedDate');
                var selectedTime = new Object();
                selectedTime.startTime = sessionStorage.getItem('selectedStartTime');
                selectedTime.endTime = sessionStorage.getItem('selectedEndTime');
                var temp = "<p>공공 시설명: " + data.Fname + "</p>";
                temp += "<p>선택한 날짜: " + selectedDate + "</p>"; 
                temp += "<p>선택한 시간: " + selectedTime.startTime +":00~"+ selectedTime.endTime + ":00</p>"
                temp += '<p style="margin:20px 20px 10px 20px;; font-size:30px;">공알이 인-증</p>'
                document.getElementById("info_container").innerHTML = temp;
                 //sessionStorage.getItem('selectedDate').weektype
                };
    </script>
</head>

<body style="background:#1b182e; color:white; text-align:center;">
    <p style="margin:20px 20px 10px 20px;; font-size:30px;">예약 완료</p>
    <div id='info_container'></div>
    <div style="margin-top:15px;">
        <input type="button" class='btn_choose' value='확인' onclick="window.close();">
    </div>
</body>
<script src='/javascripts/make_reserv.js'>
</script>

</html>