<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <title>공알이</title>

  <script src="/javascripts/review.js"> </script>

  <script> 
     window.onload = function () {
            var temp = "<p>" + sessionStorage.getItem('fac_name') + "</p>";
      
            document.getElementById("info_container").innerHTML = temp;
        };
  </script> 

</head>

<body>
  <div class='main_container'>
    <div class='header'>
      <button class='back_button_design' onclick="location.href=location.origin + '/reservation/list'"></button>
      공공시설 리뷰 작성
    </div>
    <br>
    <p id='username'><span style="color:brown; font-weight:700; font-size:14px;"><%-username%></span>님</p>
    <div id='info_container'></div>
    
    <textarea id="textArea"  rows="20" cols="35" >
        
     </textarea>
     <br>
     <br> 평점을 매겨주세요.

     <select id = "grade">
        <option>1</option>
        <option>2</option>
        <option selected="selected" >3</option>
        <option>4</option>
        <option>5</option>

    </select>

    <br>
     <br>
     <button id="complete_button" onclick="save_review();">작성 완료</button>
     <button id="close_button" onclick="location.href=location.origin + '/reservation/list'">작성 취소</button>

  </div>

</body>

</html>