.search_button_design {
    margin:0;
    padding:0;
    border: none;
    height: 35px;
    vertical-align: middle;
    padding-bottom: 2%;
}

.keyword_search {
    text-align: center;
    height:50px;
    margin-top:5%;
}

.keyword_search .textfield {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    height: 40px;
    width: 60%;
    padding-left: 15px;
    vertical-align: middle;
}

.select_design {
    text-align: center;
    margin-top: 5%; 
}

select {
    width: 110px;
    padding: .8em .5em;
    font-family: inherit;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid #999;
    border-radius: 0px;
}

.result_design {
    margin-top: 3%;
    overflow: auto;
    height: 370px;
}

.result_list_table {
    margin-top: 2%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    font-size: 14px;
    background-color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
}

.result_list_table th,
td {
    text-align: left;
    padding: 8px;
}

.result_list_table tr:nth-child(1) {
    background-color: rgba(217, 223, 235, 0.87);
}

.result_list_table tr {
    border: 1px solid rgba(165, 171, 172, 0.856);
}

#zone,
#district {
    margin-top: 3%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    height: 45px;
    width: 40%;
    padding-left: 15px;
}

#district{
    margin-left: 5%;
}