.menu_button_table
{
  width: 100%;
  margin: auto;
}

.menu_button_table td{
  padding: 15px;
}

.menu_button_design {
  border: none;
  border-radius: 4px;

  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 10em;

  background-color: rgb(94, 94, 94);
  width: 80%;
  height: 160px;
}